 
<div class="wid_80"> 

<div class="cont_row">
<div class="cont_lft"><img src="assets/svg/con-1.svg" alt="" class="icon"></div>
<div class="cont_ri_txt"><p><strong>Outlet Address:</strong> Shop No. A-12, Plot No. 729, Aman Plaza, 
  Shakti Khand-4, Indirapuram, Ghaziabad, Uttar Pradesh,   201014  </p> </div>
</div>

<div class="cont_row">
<div class="cont_lft"><img src="assets/svg/con-2.svg" alt="" class="icon"></div>
<div class="cont_ri_txt"><p><strong>Shop Timing:</strong> 11:00 AM - 11:00PM</p> </div>
</div>

<div class="cont_row">
<div class="cont_lft"><img src="assets/svg/con-3.svg" alt="" class="icon"></div>
<div class="cont_ri_txt"><p><strong>Whatsapp No:</strong> +91- 98XXX XXX28</p> </div>
</div>

<div class="cont_row">
<div class="cont_lft"><img src="assets/svg/con-4.svg" alt="" class="icon"></div>
<div class="cont_ri_txt"><p><strong>Email Id:</strong> praveshjangra@petukibiryani.com</p> </div>
</div>

<div class="cont_row">
<div class="cont_lft"><img src="assets/svg/con-5.svg" alt="" class="icon"></div>
<div class="cont_ri_txt"><p><strong>Paytm No:</strong> +91- 98XXX XXX28</p> </div>
</div>

</div>